name: Build

on:
  workflow_dispatch: {}
  workflow_run:
    workflows: ["Test"]
    types:
      - completed

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v4
      - name: Run build
        run: cargo build --lib --verbose
